{% extends "base.html" %} {% block title %}Hash Files{% endblock %} {%
    block content %}

        <br />
        <div class="card">
          <div class="card-header bg-dark text-white">
            <h3 class="mb-1">Uploaded Files</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              {% for file in user_files %}
              <li class="list-group-item d-flex justify-content-between align-items-center" id="file-{{ file.id }}">
                <div>{{ file.filename }}</div>
                <div id="hash-{{ file.id }}"></div>
                <button type="button" class="btn btn-sm btn-primary" onclick="hashFile('{{ file.filename }}', {{ file.id }})"> SHA-256
                </button>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </body>

    <script>
        function hashFile(filename, fileId) {
            fetch('/hash_files', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ filename: filename }),
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById(`hash-${fileId}`).innerText = data;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
    
    
    
    
    {% endblock %}
    
